:root {
  --container-size: 768px;
  --bg: #000;
  --text: #fff;
  --primary-yellow: #f9f929;
}

/* Global styles */
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

/* Container styles */
.container {
  margin: 0 auto;
  max-width: var(--container-size);
  text-align: center;
}

.container h1 {
  display: inline-block;
  font-size: 36px;
}

.container span {
  color: var(--primary-yellow);
  font-size: 36px;
  margin-left: 10px;
}